.manage-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr;
  grid-template-areas: ". manage-content .";
}

.manage-content {
  grid-area: manage-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "voters-container candidates-container";
}

.voters-container {
  grid-area: voters-container;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "voters-actions"
    "voters-header"
    "voters-table";
}

.voters-actions {
  grid-area: voters-actions;
  justify-self: end;
}

.voters-header {
  grid-area: voters-header;
}

.voters-table {
  grid-area: voters-table;
  overflow: auto;
}

.voters-table-columns {
  grid-area: voters-content-table2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.columns-header {
  padding: 15px;
}

.column-header {
  color: #ffffff;
}

.voters-row-text {
  color: black;
}

.voters-row {
  background-color: white;
  margin: 5px 0px;
  border-width: 1px;
  border-radius: 10px;
  padding: 15px;
  color: black;
}

.voters-row:hover .voters-alias {
  color: var(--voting-indigo);
}
