<div class="add-voter-container">
  <div class="add-voter">
    <div class="add-voter-header"><h1>Add voter</h1></div>
    <!-- TODO: use form so component can listen to changes and disable/enable Add button -->
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput #voterNameInput placeholder="Ex. John Kowalski" />
    </mat-form-field>
    <!-- TODO: verification if input is dirty -->
    <button mat-flat-button color="primary" (click)="addVoter()">Add</button>
  </div>
</div>
